{% extends 'bns_landscape_base.html' %}
{% load i18n %}
{% load leaflet_tags %}

{% block title %}{% trans "CARPE - BNS Surveys in Landscape" %} {{ landscape_name|capfirst }}{% endblock %}

{% block main %}


    <h2>{% trans "BNS Surveys in Landscape" %} {{ landscape_name|capfirst }}</h2>

    {% for survey in surveys %}
    <a href="{% url 'bns_surveys' %}{{ survey.dataset_name }}">{{ survey.dataset_name }}</a><br />
    {% endfor %}

{% leaflet_js %}
{% leaflet_css %}
{% leaflet_map "yourmap" %}



{% endblock main %}

