
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "CARPE - Basic Necessities Surveys" %}{% endblock title %}

{% block content %}

<div class="querywrapper">
    <div class="sidenav">



      <a href="{% url 'bns_surveys' %}">{% trans "My Surveys" %}</a>
      <a href="{% url 'bns_landscapes' %}">{% trans "My Landscapes" %}</a>

      {% block sidenav %}
      {% endblock sidenav %}


    </div>


    <div class="main">

    {% block main %}
    {% endblock main %}

    </div>
</div>
{% endblock content %}




