{% extends 'bns_base.html' %}
{% load i18n %}

{% block title %}{% trans "Basic Necessity Surveys" %} - {{ survey_name }}{% endblock title %}


{% block sidenav %}

      <hr/>
      <p>{{ survey_name }} {% trans "Survey" %}</p>
      <hr/>

     <button class="dropdown-btn">
        {% trans "AME" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/AMEperHH">{% trans "Household" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/AMEperVillage">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/AMEperDistrict">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/AMEperLandscape">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Ethnicity" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/EthnicityperVillage">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/EthnicityperDistrict">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/EthnicityperLandscape">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Gender of Household head" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/GenderHeadperVillage">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/GenderHeadperDistrict">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/GenderHeadperLandscape">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Livelihoods" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/LivelihoodNBPerVillage">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/LivelihoodNBPerDistrict">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/LivelihoodNBPerLandscape">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Natural resource collection" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/NRCollectPerVillage">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/NRCollectPerDistrict">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/NRCollectPerLandscape">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Protected area projects" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/PAProjectsPerVillage">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/PAProjectsPerDistrict">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/PAProjectsPerLandscape">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerVillage">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerDistrict">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerLandscape">{% trans "Landscape" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerVillageDiff20152017">Diff 2015-2017</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index per ethnicity" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerVillageEthnicity">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerDistrictEthnicity">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerLandscapeEthnicity">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index per gender" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerVillageGender">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerDistrictGender">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerLandscapeGender">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index per Household type" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerVillageHHType">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerDistrictHHType">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerLandscapeHHType">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index per livelihood" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerVillageLivelihood">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerDistrictLivelihood">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WBIPerLandscapeLivelihood">{% trans "Landscape" %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Wealth Index" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WealthIDXPerVillage">{% trans "Village" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WealthIDXPerDistrict">{% trans "District" %}</a>
        <a href="{% url 'bns_surveys' %}{{ survey_name }}/WealthIDXPerLandscape">{% trans "Landscape" %}</a>
      </div>


      <script>
            //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                  dropdownContent.style.display = "none";
                } else {
                  dropdownContent.style.display = "block";
                }
              });
            }
      </script>

{% endblock sidenav %}
