{% extends 'bns_base.html' %}
{% load i18n %}
{% trans "Household" as household %}
{% trans "Village" as village %}
{% trans "District" as district %}
{% trans "Landscape" as landscape %}

{% block title %}{% trans "Basic Necessity Surveys" %} - {{ landscape_name }}{% endblock title %}


{% block sidenav %}

      <hr/>
      <p>{{ landscape_name }} {% trans landscape %}</p>
      <hr/>

     <button class="dropdown-btn">
        {% trans "AME" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/AMEperHH">{{ household }}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/AMEperVillage">{{ village }}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/AMEperDistrict">{{ district }}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/AMEperLandscape">{{ landscape }}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Ethnicity" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/EthnicityperVillage">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/EthnicityperDistrict">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/EthnicityperLandscape">{% trans landscape %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Gender of household head" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/GenderHeadperVillage">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/GenderHeadperDistrict">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/GenderHeadperLandscape">{% trans landscape %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Livelihoods" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/LivelihoodNBPerVillage">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/LivelihoodNBPerDistrict">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/LivelihoodNBPerLandscape">{% trans landscape %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Natural resource collection" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/NRCollectPerVillage">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/NRCollectPerDistrict">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/NRCollectPerLandscape">{% trans landscape %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Protected area projects" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/PAProjectsPerVillage">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/PAProjectsPerDistrict">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/PAProjectsPerLandscape">{% trans landscape %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerVillage">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerDistrict">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerLandscape">{% trans landscape %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerVillageDiff20152017">Diff 2015-2017</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index per ethnicity" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerVillageEthnicity">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerDistrictEthnicity">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerLandscapeEthnicity">{% trans landscape %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index per gender" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerVillageGender">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerDistrictGender">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerLandscapeGender">{% trans landscape %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index per household type" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerVillageHHType">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerDistrictHHType">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerLandscapeHHType">{% trans landscape %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Well being index per livelihood" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerVillageLivelihood">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerDistrictLivelihood">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WBIPerLandscapeLivelihood">{% trans landscape %}</a>
      </div>

      <button class="dropdown-btn">
        {% trans "Wealth Index" %}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/landscapes/{{ landscape_name }}/WealthIDXPerVillage">{% trans village %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WealthIDXPerDistrict">{% trans district %}</a>
        <a href="/bns/landscapes/{{ landscape_name }}/WealthIDXPerLandscape">{% trans landscape %}</a>
      </div>


      <script>
            //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                  dropdownContent.style.display = "none";
                } else {
                  dropdownContent.style.display = "block";
                }
              });
            }
      </script>

{% endblock sidenav %}
