{% extends 'bns_landscape_base.html' %}
{% load i18n %}
{% load leaflet_tags %}
{% load static %}

{% block title %}{% trans "CARPE - BNS Surveys in Landscape" %} {{ landscape_name|capfirst }}{% endblock %}

{% block main %}


    <h2>{% trans "BNS Surveys in Landscape" %} {{ landscape_name|capfirst }}</h2>

<script src="{% static 'external/randomcolor/0.5.2/randomColor.min.js' %}"></script>
{% leaflet_js %}
{% leaflet_css %}
<style>

{% block map_css %}{% include "map.css" %}{% endblock %}

</style>
<script type="text/javascript">
//<![CDATA[
{% block map_js %}{% include "map.js" %}{% endblock %}
//]]>
</script>

{% leaflet_map "yourmap" callback="window.map_init" %}
<p>
Explore analysis for all surveys in this landscape in the left hand panel or select results for a particular survey: <br>
<ul>
    {% for survey in surveys %}
<li><a href="{% url 'bns_surveys' %}{{ survey.dataset_name }}">{{ survey.dataset_name }}</a></li>
    {% endfor %}
</ul>
</p>

{% endblock main %}

