
{% extends 'bns_base.html' %}

{% block title %}Basic Necessity Surveys - {{ survey_name }}{% endblock title %}


{% block sidenav %}

      <hr/>
      <p>{{ survey_name }} Survey</p>
      <hr/>

     <button class="dropdown-btn">
        AME
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/AMEperHH">Household</a>
        <a href="/bns/surveys/{{ survey_name }}/AMEperVillage">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/AMEperDistrict">District</a>
        <a href="/bns/surveys/{{ survey_name }}/AMEperLandscape">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Ethnicity
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/EthnicityperVillage">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/EthnicityperDistrict">District</a>
        <a href="/bns/surveys/{{ survey_name }}/EthnicityperLandscape">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Gender of household head
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/GenderHeadperVillage">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/GenderHeadperDistrict">District</a>
        <a href="/bns/surveys/{{ survey_name }}/GenderHeadperLandscape">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Livelihoods
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/LivelihoodNBPerVillage">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/LivelihoodNBPerDistrict">District</a>
        <a href="/bns/surveys/{{ survey_name }}/LivelihoodNBPerLandscape">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Natural resource collection
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/NRCollectPerVillage">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/NRCollectPerDistrict">District</a>
        <a href="/bns/surveys/{{ survey_name }}/NRCollectPerLandscape">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Protected area projects
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/PAProjectsPerVillage">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/PAProjectsPerDistrict">District</a>
        <a href="/bns/surveys/{{ survey_name }}/PAProjectsPerLandscape">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Well being index
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/WBIPerVillage">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerDistrict">District</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerLandscape">Landscape</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerVillageDiff20152017">Diff 2015-2017</a>
      </div>

      <button class="dropdown-btn">
        Well being index per ethnicity
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/WBIPerVillageEthnicity">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerDistrictEthnicity">District</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerLandscapeEthnicity">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Well being index per gender
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/WBIPerVillageGender">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerDistrictGender">District</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerLandscapeGender">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Well being index per household type
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/WBIPerVillageHHType">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerDistrictHHType">District</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerLandscapeHHType">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Well being index per livelihood
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/WBIPerVillageLivelihood">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerDistrictLivelihood">District</a>
        <a href="/bns/surveys/{{ survey_name }}/WBIPerLandscapeLivelihood">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Wealth Index
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/bns/surveys/{{ survey_name }}/WealthIDXPerVillage">Village</a>
        <a href="/bns/surveys/{{ survey_name }}/WealthIDXPerDistrict">District</a>
        <a href="/bns/surveys/{{ survey_name }}/WealthIDXPerLandscape">Landscape</a>
      </div>


      <script>
            //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                  dropdownContent.style.display = "none";
                } else {
                  dropdownContent.style.display = "block";
                }
              });
            }
      </script>

{% endblock sidenav %}
