{% extends 'bns_survey_base.html' %}
{% load i18n %}

{% block title %}{% trans "CARPE - Basic Necessity Surveys" %} - {{ table.name }} - {{ survey_name }} {% trans "Survey" %}{% endblock %}

{% block main %}

    {% load django_tables2 %}
    {% load bootstrap4 %}

    <h2>{{ table.name }}</h2>
    <h5>{{ survey_name }} {% trans "Survey" %}</h5>


    {% if filter %}
    <div id="filterform">
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    </div>
    {% endif %}

    {% render_table table 'bootstrap.html' %}

    <div class="pull-right">

        {% trans Download as %}:
        {% for format in table.export_formats %}
        <a href="{{ request.get_full_path }}{% export_url format %}">{{ format }}</a> |
        {% endfor %}

    </div>

{% endblock %}

