
{% extends 'nrgt_landscape_base.html' %}

{% block title %}NRGT{% endblock %}

{% block main %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

    <h2>{{ table.name }}</h2>
    <h5>{{ landscape_name }} Landscape</h5>
    {% if filter %}
    <div id="filterform">
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    </div>
    {% endif %}

    {% render_table table 'django_tables2/bootstrap.html' %}

{% endblock %}

