
{% extends 'survey_base.html' %}

{% block title %}NRGT{% endblock %}

{% block main %}

    {% load django_tables2 %}
    {% load bootstrap4 %}

    <h2>{{ table.name }}</h2>
    <h5>{{ survey_name }} Survey</h5>


    {% if filter %}
    <div id="filterform">
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    </div>
    {% endif %}

    {% render_table table 'django_tables2/bootstrap.html' %}

    <div class="pull-right">
    <form >
        Select format:
        <select id="filename">
                {% for format in table.export_formats %}
                    <option value="{{ request.get_full_path }}{% export_url format %}">{{ format }}</option>
                {% endfor %}
        </select>
        <button onclick="window.location.href=document.getElementById('filename').value"  class="btn btn-default">
            Download
        </button>
    </form>
    </div>

{% endblock %}

