
{% extends 'nrgt_base.html' %}

{% block title %}Natural Resource Governance Tool - {{ survey_name }}{% endblock title %}


{% block sidenav %}

      <hr/>
      <p>{{ survey_name }} Survey</p>
      <hr/>

     <button class="dropdown-btn">
        AME
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/nrgt/surveys/{{ survey_name }}/AMEperHH">Household</a>
        <a href="/nrgt/surveys/{{ survey_name }}/AMEperVillage">Village</a>
        <a href="/nrgt/surveys/{{ survey_name }}/AMEperDistrict">District</a>
        <a href="/nrgt/surveys/{{ survey_name }}/AMEperLandscape">Landscape</a>
      </div>

      <button class="dropdown-btn">
        Ethnicity
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="/nrgt/surveys/{{ survey_name }}/EthnicityperVillage">Village</a>
        <a href="/nrgt/surveys/{{ survey_name }}/EthnicityperDistrict">District</a>
        <a href="/nrgt/surveys/{{ survey_name }}/EthnicityperLandscape">Landscape</a>
      </div>


      <script>
            //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                  dropdownContent.style.display = "none";
                } else {
                  dropdownContent.style.display = "block";
                }
              });
            }
      </script>

{% endblock sidenav %}
