@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
    body {
      background-color: #ffffff;
      color: #4c4c4c;
      font-family: 'Roboto Condensed', Avenir Next;
      font-size: undefinedpx;
      padding-top: 0px;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto Condensed', Avenir Next;
    }
    h1 { font-size: 36px;}
    h2 { font-size: 30px;}
    h3 { font-size: 28px;}
    h4 { font-size: 24px;}
    h5 { font-size: 16px;}
    h6 { font-size: 14px;}
    .extra-small { font-size: 10px;}
    .small { font-size: 12px;}
    .large { font-size: 18px;}
    .extra-large { font-size: 20px;}
    a,
    .btn-link {
      color: #84c68f;
    }
    a:hover,
    a:focus,
    .btn-link:hover {
      color: #61b66f;
      outline-color: #84c68f;
    }
    input.form-control:focus {
      border-color: #84c68f;
    }
    button:focus,
    .btn:focus,
    .btn-link:focus,
    input:focus,
    .form-control:focus {
      outline-color: #84c68f;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#84c68f, 0.6);
    }
    .twitter-typeahead .tt-menu {
      background-color: #101010;
    }



    .api-inspector .panel-heading {
      background-color: #84c68f;
      color: #fff;
    }
    .api-inspector .panel-heading a,
    .api-inspector .panel-heading a:hover,
    .api-inspector .panel-heading a:focus,
    .api-inspector .panel-heading:hover  {
      color: #fff;
    }
    .api-inspector .help-block {
      color: #4c4c4c;
    }
    .api-inspector #where-selector .form-group:focus{
      border-color: #84c68f;
      -webkit-box-shadow: inset 0 1px 1px rgba(#cccccc, 0.075), 0 0 8px rgba(#84c68f, 0.6);
      box-shadow: inset 0 1px 1px rgba(#cccccc, 0.075), 0 0 8px rgba(#84c68f, 0.6);
    }
    .btn-primary {
      border-color: #84c68f;
      background-color: #84c68f;
      color: #fff;
      fill: #fff;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
      border-color: #61b66f;
      background-color: #61b66f;
      color: #fff;
      fill: #fff;
    }
    .btn-default {
      border: 1px solid #84c68f;
      color: #84c68f;
      background-color: #ffffff;
      fill: #84c68f;
    }
    a.btn-default:hover,
    a.btn-default:focus,
    button.btn-default:hover,
    button.btn-default:focus,
    button.btn-default:active,
    .btn-default:hover,
    .btn-defaut:focus,
    .btn-default:active {
      border-color: #61b66f;
      color: #ffffff;
      fill: #ffffff;
      background-color: #61b66f;
    }
    .btn-diagonal {
        background-color: #84c68f;
        background: -webkit-linear-gradient(-30deg, #84c68f 50%, #61b66f 50%);
        background: -ms-linear-gradient(-30deg, #84c68f 50%, #61b66f 50%);
        background: -moz-linear-gradient(-30deg, #84c68f 50%, #61b66f 50%);
        background: linear-gradient(-30deg, #84c68f 50%, #61b66f 50%);
        color: #fff;
        border: 1px solid #61b66f;
    }
    .btn-diagonal:hover,
    .btn-diagonal:focus {
        color: #fff;
        background-color: #61b66f;
        background: -webkit-linear-gradient(-30deg, #61b66f 50%, #84c68f 50%);
        background: -ms-linear-gradient(-30deg, #61b66f 50%, #84c68f 50%);
        background: -moz-linear-gradient(-30deg, #61b66f 50%, #84c68f 50%);
        background: linear-gradient(-30deg, #61b66f 50%, #84c68f 50%);
        border: 1px solid #61b66f;
    }
    .calendar-text {
      color: #84c68f;
    }
    .category-panel a:focus {
      outline-color: #84c68f;
    }
    #catalog-toggle a {
      background-color: #ffffff;
      color: #84c68f;
    }
    #catalog-toggle a:hover,
    #catalog-toggle a:focus {
        color: #61b66f;
        outline-color: #84c68f;
    }
    #catalog-toggle li.disabled a,
    #catalog-toggle a.disabled:hover {
      color: #6e6e6e;
    }
    #catalog-toggle a.active {
      background-color: #ffffff;
      color: #000000;
      border-left-color: #61b66f;
    }
    .connected-content .nav-tabs a {
      background-color: #84c68f;
      color: undefined;
      border: 1px solid #84c68f;
    }
    .connected-content .nav-tabs a:hover,
    .connected-content .nav-tabs a:focus {
      background-color: #61b66f;
      color: undefined;
      border: 1px solid #61b66f;
    }
    .connected-content .nav-tabs a.active,
    .connected-content .nav-tabs li.active > a {
      background-color: #ffffff;
      color: #4c4c4c;
    }
    .connected-content .nav-tabs a.active:hover{
      color: #4c4c4c;
    }
    .connected-content .connected-card {
      background-color: #ffffff;
    }
    .connected-content .connected-card .divider {
      background-color: #edf6ee;
    }
    .connected-content .connected-card .left-pane{
      color: #4c4c4c;
    }
    .connected-content .connected-card .left-pane button {
      background-color: #ffffff;
      color: #4c4c4c;
    }
    .connected-content .connected-card .text-fade {
      box-shadow: inset 0px -30px 40px -20px #ffffff;
    }
    .connected-content .circle {
      background: #61b66f;
    }
    .dataset-annotations-component .comment-author-name,
    .dataset-annotations-component .delete-comment-button:hover {
      color: #84c68f;
    }
    .dataset-attributes li button[disabled] {
      color: #656565;
    }
    .dataset-attributes .attribute-option-icons svg path,
    .dataset-attributes .attribute-option-icons svg circle,
    .dataset-attributes .fld-tag .chartable-attribute circle {
      fill: #4c4c4c;
    }
    .dataset-attributes .fld-tag .chartable-attribute.selected .chart-button,
    .dataset-attributes .fld-tag .chartable-attribute .chart-button:hover {
      background-color: #84c68f;
      color:  #ffffff;
    }
    .dataset-attributes .fld-tag .chartable-attribute.selected .chart-button circle {
      fill: #ffffff;
      color:  #ffffff;
    }
    .dataset-attributes .fld-tag li button svg,
    .dataset-attributes .chart-button svg circle,
    .dataset-attributes h3 {
      fill: #4c4c4c;
    }
    .dataset-attributes .fld-tag .show-more {
      border-color: #84c68f;
    }
    .dataset-attributes .fld-tag .show-more button {
      border-color: #84c68f;
      color: #84c68f;
    }
    .dataset-attributes .fld-tag .show-more button:hover {
      border-color: #61b66f;
      color: #61b66f;
    }
    .dataset-header .associated-layers,
    .dateset-header .associated-layers .dropdown-menu > li > a {
      color: #84c68f;
    }
    .dataset-filter-component .slider-handle {
      background-color: #84c68f;
      background-image: -webkit-linear-gradient(top, #84c68f 0%, #84c68f 100%);
      background-image: -o-linear-gradient(top, #84c68f 0%, #84c68f 100%);
      background: -ms-linear-gradient(top, #84c68f 0%, #84c68f 100%);
      background: -moz-linear-gradient(top, #84c68f 0%, #84c68f 100%);
      background-image: linear-gradient(top, #84c68f 0%, #84c68f 100%);
    }
    .dataset-filter-component .open > .btn-default.dropdown-toggle {
      color: #ffffff;
      background-color: #61b66f;
    }
    .dataset-header #download-container button:focus,
    .dataset-header #download-container button:active,
    .dateset-header #favorite-button:active,
    .dataset-header #favorite-button:focus {
      background-color: #61b66f;
      color: #000000;
    }
    #dataset-column-right a,
    .dataset-sites .glyphicon,
    .dataset-storymap-component,
    .dataset-summary .btn-link {
     color: #84c68f;
    }
    #dataset-column-right a:hover,
    .dataset-storymap-component:hover {
      color: #61b66f;
    }
    #dataset-column-right div pre {
      background-color: #ffffff;
    }
    #download-activity li {
      background-color: #ffffff;
    }
    .draw-option {
      border-color: #ffffff;
    }
    .event-card {
      color: #4c4c4c;
      background-color: #ffffff;
    }
    .event-card .event-heading:before {
      border-top: 2px solid #4c4c4c;
    }
    .event-card .event-heading h4 {
      color: #4c4c4c;
      background-color: #ffffff;
    }
    .ember-power-calendar ol.day-grid li.has-event {
      border-color: #84c68f;
      color: #84c68f;
    }
    .ember-power-calendar ol.day-grid li.has-event:active {
      background-color: #84c68f;
      border-color: #84c68f;
      color: #ffffff;
    }
    .favorites-tab .glyphicon-star {
      color: #4c4c4c;
    }
    .filter-search-results .btn-link {
      color: #84c68f;
    }
    .filter-search-results .btn-link:hover {
      color: #61b66f;
    }
    .filter-search-results span:focus:nth-child(1) {
      outline-color: #84c68f;
      outline: thin-dotted;
      outline: 3px auto #84c68f;
    }
    .filter-search-results input {
      background-color: #ffffff;
      border-color: #4c4c4c;
      color: #4c4c4c;
    }
    .filter-search-results input::-webkit-input-placeholder {
      color: #000000;
    }
    .filter-search-results input:-moz-placeholder {
      color: #000000;
    }
    .follow-initiative-card .btn-primary:hover svg,
    .follow-initiative-card .btn-primary:focus svg {
      fill: #fff;
    }
    .gallery-card .type-icon.btn-link{
      color: #84c68f;
    }
    .hero .attribution,
    .hero .attribution a {
        color: #ffffff;
    }
    #hub-header-search-form .glyphicon-map-marker,
    #hub-header-search-form .glyphicon-map-marker:hover {
      color: #ffffff;
    }
    #hub-header-search-form input,
    #hub-header-search-form input::-webkit-input-placeholder,
    #hub-header-search-form input:-moz-placeholder,
    #hub-header-search-form input::-moz-placeholder,
    #hub-header-search-form input:-ms-input-placeholder,
    #hub-header-search-form input:focus {
      color: #ffffff;
    }
    .item-summary span i {
      color: #4c4c4c;
    }
    .item-card .type-icon.btn-link{
      color: #84c68f;
    }
    .layout-section-editor .empty {
        color: #4c4c4c;
        outline: 2px dashed #4c4c4c;
    }
    .layout-editor .navbar-toggle {
      border-color: #ffffff;
    }
    .layout-editor .navbar-toggle .icon-bar {
      background-color: #ffffff;
    }
    .layout-editor .pagination > li.active > a {
      background-color: #0079c1;
      color: #fff;
    }
    #my-data-container .my-data-item,
    .favorites-tab .my-data-item {
      background: #ffffff;
    }
    #my-data-container #favorite-sort input{
      background-color: #ffffff;
      color: #4c4c4c;
    }
    .nav > li > a:hover,
    .nav > li > a:focus {
      color: #ffffff;
      background-color: #84c68f;
      outline-color: #84c68f;
    }
    .navbar-default {
      background-color: #101010;
      color: #ffffff;
    }
    .navbar-default a,
    .navbar-default a:focus,
    .navbar-default a:hover {
      color: #ffffff;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav > li > a {
      background-color: #101010;
      color: #ffffff;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li.active > a,
    .navbar-default .navbar-nav > li.active > a:hover {
      color: #ffffff;
      background-image: linear-gradient(to bottom, transparent 92%, #ffffff 93%, #ffffff 100%);
    }
    .navbar-default .navbar-nav ul.dropdown-menu > li > a {
      color: #4c4c4c;
    }
    .navbar-default .navbar-nav > li.open a {
      color: #84c68f;
    }
    .navbar-inverse {
      background-color: #000000;
      color: #ffffff;
    }
    .nav-tabs[role="tablist"] > li > a {
      background-color: #84c68f;
      color: #ffffff;
    }
    .nav-tabs[role="tablist"] > li > a:hover,
    .nav-tabs[role="tablist"] > li > a:focus,
    .nav-tabs[role="tablist"] > li > a.focus {
      background-color: #61b66f;
      color: #ffffff;
      border-bottom-color: #61b66f;
    }
    .nav-tabs[role="tablist"] > li.active > a,
    .nav-tabs[role="tablist"] > li.active > a:focus,
    .nav-tabs[role="tablist"] > li.active > a:hover {
      background-color:  #ffffff;
      color: #4c4c4c;
      border-bottom-color: #ffffff;
    }
    #my-data-container #favorite-sort input {
      border-color: #84c68f;
    }
    #od-header-search-form .form-control {
      border-color: #ffffff;
      outline-color: #84c68f;
    }
    #od-header-search-form input {color: #ffffff;}
    #od-header-search-form input::-webkit-input-placeholder {color: #ffffff;}
    #od-header-search-form input:-moz-placeholder {color: #ffffff;}
    #od-header-search-form input::-moz-placeholder {color: #ffffff;}
    #od-header-search-form input:-ms-input-placeholder {color: #ffffff;}

    #od-header-search-form .glyphicon-map-marker,
    #od-header-search-form .glyphicon-map-marker {
      color: #ffffff;
    }
    .od-sidebar-component {
      color: #4c4c4c;
      background-color: #ffffff;
    }
    .od-sidebar-component button.close {
      color: #84c68f;
    }
    .od-sidebar-component button.close:hover {
      color: #61b66f;
    }
    .od-sidebar-component .nav-tabs[role="tablist"] > li.active > a,
    .od-sidebar-component .nav-tabs[role="tablist"] > li.active > a:hover,
    .od-sidebar-component .nav-tabs[role="tablist"] > li.active > a:focus {
      background-color: #ffffff;
      color: #84c68f;
      border-bottom-color: #ffffff;
    }
    .od-sidebar-component .nav-tabs[role="tablist"] > li > a {
      background-color: #84c68f;
      color: #ffffff;
      border-bottom-color: #84c68f;
    }
    .od-sidebar-component .nav-tabs[role="tablist"] > li > a:hover,
    .od-sidebar-component .nav-tabs[role="tablist"] > li > a:focus {
      background-color: #61b66f;
      color: #ffffff;
      border-bottom-color: #61b66f;
    }
    .page-layout-editor {
      background-color: #ffffff;
      color: #4c4c4c;
    }
    .pagination > li > a {
      color: #84c68f;
    }
    .pagination > li > a:hover,
    .pagination > li > a:focus,
    .pagination > li.active > a,
    .pagination > li.active > a:hover,
    .pagination > li.active > a:focus{
      background-color: #84c68f;
      color: #ffffff;
    }
    .pagination > .disabled > a {
      color: #f8f8f8;
    }
    .page-datasets .over-map-tabs a {
      border-color: #84c68f;
      background-color: #84c68f;
      color: #ffffff;
    }
    .page-datasets .hideMap .over-map-tabs a.active,
    .page-datasets .over-map-tabs a.active,
    .page-datasets .over-map-tabs a.active:focus,
    .page-datasets .over-map-tabs a.active:hover {
      border-bottom-color: #ffffff;
      background-color:  #ffffff;
      color: #4c4c4c;
    }
    .page-datasets .over-map-tabs a:focus,
    .page-datasets .over-map-tabs a.focus,
    .page-datasets .over-map-tabs a:hover,
    .page-items .over-map-tabs a:focus,
    .page-items .over-map-tabs a.focus,
    .page-items .over-map-tabs a:hover {
      background-color: #61b66f;
      color: #ffffff;
      border-color: #61b66f;
    }
    .page-people-user-my-data-events .event-subnav li a {
      color: #4c4c4c;
    }
    .page-people-user-my-data-events .event-subnav li a:hover,
    .page-people-user-my-data-events .event-subnav li a:focus {
      color: #84c68f;
    }
    .page-people-user-my-data-events .event-subnav li.active a {
      color: #4c4c4c;
      border-bottom-color: #84c68f;
    }
    .register-card.btn-primary[disabled],
    .register-card.btn-primary[disabled]:hover,
    .register-card.btn-primary[disabled]:focus {
        background-color: #84c68f;
        color: #fff;
    }
    #sidebar-left .filter-search-results .checkbox label {
      color: #84c68f;
    }
    #sidebar-left .filter-search-results .checkbox label:hover {
      color: #61b66f;
    }
    #sidebar-left .filter-search-results label.selected-checkbox {
      background-color: #ffffff;
      color: #000000;
      border-left-color: #61b66f;
    }
    #sidebar-left h2 {
      color: #4c4c4c;
    }
    #search-results-header a {
      color: #84c68f;
    }
    .search-result img {
      border-color: #4c4c4c;
    }
    .search-result span i {
      color: #4c4c4c;
    }
    #search-results-header #search-results-top a {
      color: #84c68f;
    }
    #search-results-header #search-results-top a:hover {
      background-color: #84c68f;
      color: #ffffff;
      border-color: transparent;
    }
    #search-results-top span i {
      color: #4c4c4c;
    }
    #search-results-header #search-results-top a {
      border-color: #84c68f;
    }
    #search-results-header #search-results-top span.disabled a:hover {
      background-color: #ffffff;
    }
    .site-header .btn-link,
    .site-header .btn-link:hover,
    .site-header .btn-link:focus {
      color: #ffffff;
    }
    .site-header .skip-nav {
      background-color: #ffffff;
      color: #84c68f;
    }
    .table-component .dataset-filter-component:focus {
      color: #84c68f;
      outline-color: #84c68f;
    }
    .table-component.sortable th span {
      outline-color: #84c68f;
    }
    .table-component .table-responsive {
      color: #4c4c4c;
    }
    .table-component .table-responsive a.filter-icon {
      outline-color: #84c68f;
    }
    .table-bordered,
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > td {
      border-color: #f2f2f2;
    }
    .table-component .table > tbody > tr:hover {
      background-color: #387943;
    }
    .twitter-typeahead .tt-suggestion {
      color: #ffffff;
    }
    .twitter-typeahead .tt-suggestion.tt-cursor,
    .twitter-typeahead .tt-suggestion:hover {
      background-color:#000000;
    }
    .twitter-typeahead .tt-suggestion strong {
      color: #ffffff;
    }
    .twitter-typeahead .tt-suggestion .geolocate {
      color: #ffffff;
      background-color:#000000;
    }
     .custom-header .usaid-logo img { height: 65px !important;margin-top:-25px;margin-bottom:5px;}.custom-header .carpe { height: 65px !important;}.custom-header .nav li.active > a:not(.btn) { color: #84c68f !important;}.custom-header .nav > li:hover > a { color: #84c68f !important;}.custom-header .nav > li > a { padding: 41px 10px 0px 10px !important;}.custom-header .navbar-default { background:black}.custom-header .navbar-default .navbar-nav>li>a { font-size:17pxfont-weight: 300;text-transform: uppercase;    text-decoration: none;letter-spacing: 1px;    font-style: normal;    transition: all 0.2s;}.custom-header .navbar-default .navbar-nav > li > a, .custom-header .navbar-default .navbar-nav > li > a:hover, .custom-header .navbar-default .navbar-nav > li > a:focus, .custom-header .navbar-default .navbar-nav > li.active > a, .custom-header .navbar-default .navbar-nav > li.active > a:hover { background: black;} .custom-footer .c-layout-footer-6 .c-postfooter { padding: 30px 0;}.custom-footer .c-bg-dark-2 { background-color: #31383c !important;}.custom-footer .c-font-grey { color: #eeeeee !important;}

     .force-background {
       background-color:#101010;
     }

    h1, h2, h3, h4, h5 {
        text-align:center;
    }

    h1 {
        color: whitesmoke;
        text-shadow: 2px 2px 5px #000000;
        font-size:52px;}

    h5 {
        font-style:italic;
        margin-bottom:20px;
    }

     .greenbar {
        width: 30px;
        height: 3px;
        margin: 0 auto 20px auto;
        background: #84c68f !important;
        box-sizing: border-box;
        visibility: visible;
     }

    .form-login-wrapper {
        margin: auto;
        text-align:center;

    }

    .form-login {
        display:inline-block;
        margin: auto;
        text-align:center;
    }


    .form-login hr {
        margin-top: 15px;
        margin-bottom: 15px;
        border-top: 1px solid #84c68f;
    }

    .carpe-login {
        border-color: #61b66f;
        background-color: #61b66f;
        color: #fff;
    }

    .home_cover{
        min-height: 500px;
        width: 100%;
        background-image:  url("/static/img/cover.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        left: 0px;
        top: 150px;
        z-index: -1;
        vertical-align: bottom;
        display: table-cell;
        }

/* Container holding the image and the text */
.home_container {
        text-align: center;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
}


/* Centered text */
.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background:rgba(255,255,255,0.5);
}

.subtitle {
        font-family: 'Roboto Condensed', Avenir Next;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 10px;
        display: block;
        font-size: 30px;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}

.photo_credits {
        position: absolute;
        top: 95%;
        right: 0%;
        transform: translate(-50%, -50%);
        padding: 5px;
        background:rgba(255,255,255,0.5);
}

.prefooter{height:50px}

.disclaimer {
        font-size:14px;
        color: #eeeeee !important;
        padding:12px 0px 12px 0px;
}


footer{
        background-color: #31383c !important;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
}

table{
        table-layout: fixed;
}

th {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}